<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="book" class="menu-books">
      Books
    </LinkTo>
    <LinkTo @route="people" class="menu-people">
      People
    </LinkTo>
    <LinkTo @route="auth" class="menu-auth">
      {{if this.session.isAuthenticated "My account" "Login" }}
    </LinkTo>
  </div>
</nav>