.custom-list {
  padding-left: 2rem;

  li {
    gap: 1rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: baseline;
    position: relative;

    &::before {
      content: "-";
      position: absolute;
      left: -1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      font-size: 1.2rem;
    }

    button {
      border: none;
      cursor: pointer;
      color: red;
      background: rgba(255,0,0,0.1) none;
      line-height: 1;
      padding: 0.2rem 0.3rem
    }
  }
}

input, select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: white;
}
