.custom-list {
  padding-left: 2rem;

  li {
    gap: 1rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: baseline;
    position: relative;

    &::before {
      content: "-";
      position: absolute;
      left: -1rem;
      top: 50%;
      transform: translateY(-50%);
    }

    a {
      font-size: 1.2rem;
    }

    button {
      border: none;
      cursor: pointer;
      color: red;
      background: rgba(255,0,0,0.1) none;
      line-height: 1;
      padding: 0.2rem 0.3rem
    }
  }
}

input, select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background-color: white;
}

.jumbo .person-avatar {
  height: 2rem;
  background-color: white;
  border: 1px solid #ccc;
  aspect-ratio: 1;
  position: relative;
  right: 0;
  top: auto;
  bottom: -0.75rem;
  margin-bottom: 1rem;
  object-fit: cover;
  border-radius: 10%;

  &:hover {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80vh;
    width: auto;
    aspect-ratio: auto;
    z-index: 1;
  }
}
