# Virtuoso files /data/db
/data/db/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
/data/files/*
!/data/files/.gitkeep
/data/elasticsearch/*
!/data/elasticsearch/.gitkeep

docker-compose.override.yml
$HOME
.idea