<Jumbo @title="Welcome to Super Rentals!">
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="book" class="button">Books</LinkTo>
  <LinkTo @route="about" class="button">About Us</LinkTo>

  <Rentals @rentals={{@model}} />
</Jumbo>